@import "tailwindcss";

.print-name {
    color: #9F00BD;
}

.print-literal {
    color: #FB0416;
}

.print-keyword {
    font-weight: bold;
}

.print-type {
    color: #328A5D;
}

.print-comment {
    color: #B3B3B3;
}
